.header {

}

.contacts {
    align-self: center;
    font-size: 1.2em;
    margin-bottom: -75px;
    padding-top: 25px;
    padding-left: 10px;
}

.headerColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerItem {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}