.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts {
    align-self: center;
    font-size: 1.2em;
}

.headerColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerItem {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}